/** Site wide styles **/

body {
    margin: 0;
    padding: 0;
    background: url('../img/fitness-3448864_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #b50909fc;
}

/* ================================= Site Top Navbar Styles ======================================== */

.top-navbar {
    padding: 10px;
    color: #261414fc;
    font-weight: 500;
    font-size: 20px;
}

/* Left Container */

.left-container {
    display: inline-block;
}

.left-container .adress {
    content: "\f279";
    display: inline;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.left-container .contact {
    display: inline;
}

/* Right Container */

.right-container {
    display: inline-block;
    position: absolute;
    right: 34px;
}

.right-container .timings {
    display: inline-block;
}

.right-container .lang-dropdown {
    display: inline-block;
}

/* ================================= Site Bottom Navbar Styles ======================================== */

/* Site Logo */

.site-logo {
    /* border: 2px solid red; */
    display: inline-block;
    left: 34px;
    top: 40px;
    position: absolute;
    text-align: center;
}

.site-logo .site-title {
    display: inline;
    color: white;
    font-size: 34px;
    top: 30px;
    position: absolute;
    left: 130px;
}

/* Site Navbar */

.nav-items-list {
    /* border: 2px solid green; */
    display: block;
    width: 33%;
    margin: 20px auto;
    list-style: none;
}

.nav-items-list li {
    display: inline-block;
}

.nav-items-list li a {
    text-decoration: none;
    margin: 34px 23px;
    text-decoration: none;
    color: #b50909fc;
    font-weight: 900;
    font-size: 20px;
}

.nav-items-list li a:hover,
.nav-items-list li a.active {
    cursor: pointer;
    color:darkslateblue;
    text-decoration: underline;
}

/* Site Controls */

.site-controls {
    /* border: 2px solid purple; */
    position: absolute;
    display: inline-block;
    right: 34px;
    top: 55px;
    width: 300px;
}

.site-controls button {
    appearance: none;
    background: transparent;
    border: 1px solid white;
    width: calc(50% - 10px);
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    color: white;
    font-weight: 700;
}

/* Site's main content */

/* Form Styles */

.form-container {
    margin: 60px 30px;
    border: 3px solid white;
    border-radius: 6px;
    width: 400px;
    padding: 20px;
    text-align: center;
}

.form-container .form-heading {
    color: white;
}

.form-container .form-group input {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

.form-container input[type="submit"] {
    appearance: none;
    background: transparent;
    border: 1px solid white;
    width: 85%;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    color: white;
    font-weight: 700;
}
